<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="templatemo">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title style="text-decoration-color: brown;">masterji</title>
       
        <link rel="stylesheet" href="public/css/style.css">
            

    </head>

    <body>
        <div id="div1">

            <div class="navbar ">

                <ul style="display: inline;">
                    <li class="navbar-brand">Masterji</li>
                    <li style="display: inline;"><a href="#">Home</a></li> 
                    <li style="display: inline;"><a href="#">Career</a></li> 
                    <li style="display: inline;"><a href="#">Blog</a></li> 
                    <li style="display: inline;"><a href="#">Service</a></li>               
                
                </ul>

                <button style="float: right;"><a href="#">Regidter </a></button>
                
            </div>
             
            <h2 style="margin-left: 20%;"> Order Detail </h2>
            {{msg}}
            <div class="alert">your order is placed</div>

            <form id="orderform" style="margin-left: 20%;" method="POST" action="send"> 
                
                    Name *   <input type="text" placeholder="enter your name" id="name" required> <br><br>
                    febric *   <input type="text" placeholder="i.e cotton/silk..." id="febric"> <br><br>
                    Cloths-Type * <input type="text" placeholder="Top wear/ bottom wear" id="clothstype"> <br><br>
                    Cloths-name * <input type="text" placeholder="i.e shirt/pant..." id="clothsname"> <br><br>    
                    Mobile *    <input type="text" placeholder="enter your Teliphone" id="mobile"> required <br><br>
                    Email *    <input type="email" placeholder="enter your Email" id="email" required> <br><br>
                                      
            
                    <button type="submit"> place Order </button>
            
         
            </form>
                                    
                 
        </div>

        <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-database.js"></script>

        
        <script src="public/css/main.js"> </script>
        

    </body>
</html>